<div class="col d-flex">
    <div class="align-self-center my-5 px-4">
      <h2 class="display-4 fw-bold mb-5">Educación Secundaria y Universitaria</h2>

      <ul class="list-unstyled mb-0">
        <li class="d-flex mb-4">
          <p class="lead fw-bold text-primary d-flex step p-2"><i class="fa-regular fa-bookmark"></i></p>
          <div class="ms-3">
            <p class="lead fw-bold">ESCUELA DE ENSEÑANZA MEDIA N° 269 “PROFESOR LUIS RAVERA” (VILLA MUGUETA)</p>
            <p>Título de Perito Mercantil egresado en 2001</p>
            </div>
        </li>
        <li class="d-flex mb-4">
          <p class="lead fw-bold text-primary d-flex step p-2"><i class="fa-regular fa-bookmark"></i></p>
          <div class="ms-3">
            <p class="lead fw-bold">UNIVERSIDAD ABIERTA INTERAMERICANA</p>
            <p>Título de Ingeniero en Sistemas - Egresado en 2008</p>
          </div>
        </li>
      </ul>

      <h2 class="display-4 fw-bold mb-5">Idiomas</h2>

      <ul class="list-unstyled mb-0">
        <li class="d-flex mb-4">
          <p class="lead fw-bold text-primary d-flex step p-2"><i class="fa-regular fa-bookmark"></i></p>
          <div class="ms-3">
            <p class="lead fw-bold">LANGUAGE TEACHING INSTITUTE - S.E.L.T.I. (CASILDA).</p>
            <p>INGLÉS: Nivel alto, oral y escrito. 8 años. SUPERIOR ENGLISH</p>
            </div>
        </li>
      </ul>
      <ul class="list-unstyled mb-0">
        <li class="d-flex mb-4">
          <p class="lead fw-bold text-primary d-flex step p-2"><i class="fa-regular fa-bookmark"></i></p>
          <div class="ms-3">
            <p class="lead fw-bold">INGLÉS PARA DESARROLLO DE SOFTWARE.</p>
            <p>Inglés para Desarrollo de Software Comisión A (modalidad virtual) dictado por el Polo TIC Misiones, cumpliendo los requisitos académicos acordados en la carga horaria de 28 hs. Abril a Julio 2021.</p>
            </div>
        </li>
      </ul>

      <h2 class="display-4 fw-bold mb-5">Cursos</h2>

      <ul class="list-unstyled mb-0">
        <li class="d-flex mb-4">
          <p class="lead fw-bold text-primary d-flex step p-2"><i class="fa-regular fa-bookmark"></i></p>
          <div class="ms-3">
            <p class="lead fw-bold">IEEE-ITBA Student Chapter | 2021</p>
            <p>Curso Introductorio de Python Online</p>
            </div>
        </li>
        <li class="d-flex mb-4">
          <p class="lead fw-bold text-primary d-flex step p-2"><i class="fa-regular fa-bookmark"></i></p>
          <div class="ms-3">
            <p class="lead fw-bold">RIET: Red Internacional de Educación para el Trabajo | 2021</p>
            <p>Aproximaciones al Big Data</p>
          </div>
        </li>
        <li class="d-flex mb-4">
          <p class="lead fw-bold text-primary d-flex step p-2"><i class="fa-regular fa-bookmark"></i></p>
          <div class="ms-3">
            <p class="lead fw-bold ">Universidad Angular - De Cero a Experto en Angular! | 2021
            </p>
            <p>Curso completo de Angular, Typescript, Javascript de 51,5 horas en total.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>